<!DOCTYPE html>

<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>

  <header>
        <h1> View and Update </h1>
  </header>
 <% include ./partials/_header %>
    <h2> Short URL: <%= shortURL %> </h2>

      <form method="POST" action="/urls/<%= shortURL %>/update">
        <!-- this "name" newURL is how you use this input in your js file!! -->
        <input name="newURL" placeholder= "<%= shortURL.longURL %>" style="width: 250px">
        <input type="submit" value="UPDATE">
      </form>



</body>
</html>