<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <h1> TinyApp! </h1>
    <h2> Register Here </h2>
      <form method="POST" action="/register">
        <p> email   <input name="email" type="email" placeholder="email"> </p>
        <p> password <input type="password" name="password" placeholder="password"> </p>
        <p> submit <input type="submit" name="submit"></p>
      </form>
    <p><a href='/login'> Existing User Login Here! </a></p>
  </body>
</html>