<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <h1> TinyApp! </h1>
    <h2> Login </h2>
    <form method="POST" action="/login">
      <p> email <input name="login_email" type="email" placeholder="email"> </p>
        <p> password <input type="password" name="login_password" placeholder="password"> </p>
        <p> <input type="submit" name="submit"></p>
    </form>
    <p><a href='/register'> Register Here! </a></p>
    <p><a href='/u'> View Existing Short URLS </a></p>
  </body>
</html>