<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <h1> TinyApp! </h1>

    <form method="POST" action="/login">
        <p> USERNAME <input name="username" placeholder="username">
        <input type="submit" value="ENTER">
      </p>
      </form>


</body>
</html>